.DS_Store
.config/nvim/lazy-lock.json
.config/AWSVPNClient
.config/.jira/.config.yml
.config/op/config
.config/herdr/herdr-client.log
.config/herdr/herdr-server.log
.config/herdr/release-notes.json
nvim.log
